.itemCount{
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif !important;
}

.cantItems{
    font-size: 20px;
    margin: 0 20px 0 20px;
}


.upper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.lower{
    display: flex;
    justify-content: center;
}

.button {
	background-color:#000000;
    border:none;
    display: inline-block;
	cursor:pointer;
    color:#bc6ff1;
    width:56px;
    height: 80px;
    font-size:20px;
    font-family: 'Montserrat', sans-serif !important;
}
.button:hover {
    background-color:#52057b;
}
.button:active {
    position:relative;
    top:1px;
}
.add-button{
    background-color:#000000;
    border:none;
    display: inline-block;
	cursor:pointer;
    color:#bc6ff1;
    width: 160px;
    height: 80px;
    font-size:20px;
    font-family: 'Montserrat', sans-serif !important;
}
.add-button:hover {
	background-color:#52057b;
}
.add-button:active {
	position:relative;
	top:1px;
}