.item-container{
    background-color: #000000;
    display: flex;
    flex-direction: column;
    margin: 40px 60px 0 60px;
    height: auto;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}
hr{
    border-color: #bc6ff1;
}

.itemTitle{
    display: flex;
    color: #bc6ff1;
    font-size: 25px;
    justify-content: center;
    margin: 20px 0 20px 0;
}
