.item-container{
    background-color: blue;
    display: flex;
    flex-direction: column;
    margin: 40px 60px 0 60px;
    height: auto;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #f1f6f9;
    justify-content: center;
}

.itemTitle{
    display: flex;
    color: #394867;
    font-size: 25px;
    justify-content: center;
}

.itemTitle h1{
    margin-top: 10px;
}