.item-container{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 40px 60px 0 60px;
    height: auto;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
}
hr{
    border-color: black;
}

.itemTitle{
    display: flex;
    color: black;
    font-size: 25px;
    justify-content: center;
    margin: 20px 0 20px 0;
}
