.item-list{
    background-color: white;
    width: 90%;
    margin:40px 0 20px 0;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.categories-items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}